.full-dashboard{
    display: flex;
}
.left-dash-nav{
    width: 300px;
    height: calc(100vh - 73px);
    background-color: rgb(32, 32, 32);
}
.right-dash-content{
    overflow: auto;
    height: calc(100vh - 73px);
    width: calc(100vw - 300px);
}
.right-dash-content::-webkit-scrollbar{
    display: none;
}