.post-page-wrapper{
    display: flex;
    max-width: 1500px;
    width: 95%;
    margin: 0 auto;
    justify-content:center; 
    gap: 30px;
}
.pp-left{
    width: 65%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pp-right{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.left-post-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.245);
    padding: 10px;
}
.left-comment-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.245);
    padding: 10px;
}
.lpw-ctrl{
    width: 100%;
}
.lpw-ctrl>img{
    width: 100%;
}
.blog-info{
    display: flex;
    justify-content: space-around;
    padding:  20px 0 0 0;
}
.blog-info p{
    display: flex;
    gap: 10px;
}
.blog-info p>i{
    margin: auto 0;
}
.left-post-wrapper>hr{
    margin: 20px 0;
}
.left-post-wrapper>h1{
    padding: 20px 0;
}
.action-btn-wrapper{
    display: flex;
    gap: 20px;
}
.like, .dislike{
    display: flex;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.236);
    gap: 5px;
    user-select: none;
    cursor: pointer;
}
.like>i, .dislike>i{
    margin: auto 0;
}
.left-comment-wrapper>h3{
    padding: 20px 0;
}
.all-comment-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.245);
    padding: 10px;
    height: 400px;
    overflow: auto;
}
.all-comment-wrapper::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 0, 0, 0.177);
    border-radius: 5px ;
}
.all-comment-wrapper::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px ;
}
.left-comment-wrapper>form{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.left-comment-wrapper>form>input:first-child{
    flex-grow: 100;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.245);
    padding: 5px 10px;
}
.left-comment-wrapper>form>input:last-child{
    padding: 5px 15px;
    outline: none;
    border: 0;
    background-color: green;
    color: white;
}
.a-comment{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single-comment{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.245);
}
.pi-img-ctrl{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}
.pi-img-ctrl>img{
    width: 100%;
    height: 100%;
}
.info-head{
    display: flex;
    gap: 10px;
}
.info-head>h4{
    margin: auto 0;
    text-transform: capitalize;
}
.single-comment>hr{
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.245);
}
.sc-action-btn{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.load{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.633);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.loading{
    width: 40px;
    height: 40px;
    border: 4px solid rgb(170, 170, 170);
    border-radius: 50%;
    border-top: 4px solid rgb(74, 74, 74);
    animation: spin 0.7s linear infinite;
}
.cat-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.142);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.344);
}
.cat-wrapper>ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2px;
}
.cat-wrapper>h1{
    padding: 10px 10px;
    background-color: rgb(40, 47, 179);
    color: white;
}
.cat-wrapper>ul>a{
    padding: 10px 10px;
    color: black;
    text-decoration: none;
    background-color: white;
}
.cat-wrapper>ul>a:hover{
    background-color: rgba(209, 209, 209, 0.108);
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 900px) {
    .post-page-wrapper{
        flex-direction: column;
    }
    .pp-left, .pp-right{
        width: 100%;
    }
}