.full-register-page{
    background-color: rgb(236, 232, 232);
    height: calc(100vh - 73px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-card{
    background-color: white;
    max-width: 600px;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
}
.register-card>h2{
    background-color: rgb(163, 82, 163);
    text-align: center;
    color: white;
    padding: 10px 0;
}
.l-register-card{
    display: flex;
    gap: 15px;
    padding: 15px 20px;
}

.admin-register-form{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.admin-register-form>input{
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    background: transparent;
    background-color: rgb(243, 240, 240);
}
.admin-register-form>input:last-child{
    margin-top: 10px;
    background-color: rgb(6, 209, 6);
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    text-transform: capitalize;
}
.admin-register-form>input:last-child:hover{
    background-color: rgb(13, 172, 13);
}
.not-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not-account>a{
    color: black;
}
.left-register{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(163, 82, 163);
    color: white;
    width: 50%;
}
.right-register{
    width: 50%;
}

@media screen and (max-width: 1299px) {
    .l-register-card{
        flex-direction: column;
    }
    .left-register, .right-register{
        width: 100%;
    }
}