.full-add-blog{
    margin: 20px; 
    position: relative;
}
.add-blog-form>form>input:last-child{
    margin: auto 0;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0;
    outline: none;
}
.add-blog-form>form>input:last-child:hover{
    background-color: rgb(5, 83, 5);
    transition: all 0.3s;
}
.heading-add-blog{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.63);
}
.add-blog-form{
    padding-top: 20px;
}
.add-blog-form>form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-input>input{
    padding: 10px 8px;
}
.file-inpt>input{
    border: 1px solid rgba(0, 0, 0, 0.263);
    width: fit-content;
    padding: 0 0;
    border-radius: 10px;
}
.file-inpt>input::-webkit-file-upload-button{
    padding: 5px 10px;
    background-color: rgb(210, 210, 210);
    outline: none;
    border: 0;
}