.full-manage-home{
    padding: 20px;
}
.full-manage-home>hr{
    margin: 20px 0;
}
.full-manage-home>form{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.no-of-tabs{
    display: flex;
    gap: 10px;
}
.no-of-tabs>input{
    padding: 2px 5px;
    outline: none;
}
.input-fields{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.full-manage-home>form>input{
    width: fit-content;
    padding: 5px 10px;
    background-color: rgb(6, 209, 6);
    border: none;
    cursor: pointer;
    font-weight: 500;
}
